- content_for :latest_project do
  = render'articles/latest_project'
  
- content_for :sec_menu do
  = render 'articles/sec_menu'

.secondary_pages_content
  .blog_left.gallery
    %h1
      = link_to @article.title, article_path(@article)
    %p.subtitle
      = l(@article.publication_date, :format => :long)
    %p
      = @article.content.html_safe
  .blog_right
    = render :partial => 'shared/testimonials'
.clear_container 
    