- content_for :latest_project do
  = render 'shared/latest_project'
  
.secondary_pages_content
  .blog_left.gallery
    %h1
      = link_to @article.title, article_path(@article)
    %p.subtitle
      = l(@article.publication_date, :format => :long)
    %p
      = @article.content.html_safe
  = render 'shared/blog_right'
.clear_container 
    
