- if @slider.has_any_slide?
  - content_for :latest_project do
    .latest_project{:onload => {}}
      .project
        - @slider.get_slides do |slide, index|
          = render :partial => 'slide', :locals => {:slide => slide, :index => index} 
  - content_for :sec_menu do
    :javascript
      var slideTimeout = 5000;   
      var maxslidernumber = #{@slider.size};
      $(document).ready(function() {
        slideTimer =setInterval( "slideSwitch()", slideTimeout );
        setSlidePause();
        $.preloadImages(#{@slider.get_preload_images_list});
      });

    .sec_menu
      .sec_menu_content
        .previous_button
          = link_to '', 'javascript:void(0);', :onclick => 'prevSlide();', :class => 'previous'
        .tabbicos.float_left
          %ul.project_bubles
            %li
              = link_to '', 'javascript:void(0);', :onclick => 'changeSlide2this(1);', :id => 'slide-tab1', :class => 'active'  
          %div{:style => "clear:both;"}
        .next_button{:style => "width:71px"}
          = link_to '', 'javascript:void(0);', :onclick => 'nextSlide();', :class => 'next'
        .clear_container     
          
- content_for :content do
  .content_home
    .content_left
      #recent-posts-4.panel.widget.widget_recent_entries
        %h2= t('.News')
        .line
        %ul
          - @articles.each do |article|
            %li
              = link_to article.title, article_path(article)  
    .content_middle
      = render :partial => 'shared/blog_right'
    .content_right
      #text-3.panel.plast.widget.widget_text
        %h2= t('.sign in hint')
        %p=  t('.login_name')
        .line
        .textwidget#sign_in
          = link_to t('.sign in'), '/lolita'
    .clear_container


