- content_for :latest_project do
  = render 'shared/latest_project'

.secondary_pages_content
  .blog_left.gallery
    %h1
      = @text_page.title
    %p.subtitle
      = l(@text_page.updated_at, :format => :long)
    %p
      = @text_page.content.html_safe
  = render 'shared/blog_right'
.clear_container 
