!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Lolita demo
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag    "application", :media => "all"
    = yield :style
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    = javascript_include_tag "application"
    /= javascript_include_tag "tabsslider.js"
    = yield :script
    = csrf_meta_tags
    = yield :head
  %body
    = render 'shared/header'
    = yield(:latest_project) if content_for?(:latest_project)
    = yield(:secondary_page_bg) if content_for?(:secondary_page_bg)
    = yield(:sec_menu) if content_for?(:sec_menu)
    - if content_for?(:content)
      = yield(:content)
    - else
      .content
        = yield
        .clear_container
    = render 'shared/footer'

